*{
    font-family: montserrat;
}
.carousel-item{
    height: 100vh;
    min-height: 300px;
}
.carousel-caption{
    bottom: 200px;
    z-index: 2;
}
.carousel-caption h5{
    font-size: 45px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 25px;
}
.carousel-caption p{
    width: 50%;
    margin: auto;
    font-size: 18px;
    line-height: 1.9;
}
.carousel-caption a{
    text-transform: uppercase;
    text-decoration: none;
    background: crimson;
    padding: 5px 20px;
    display: inline-block;
    color: #fff;
    margin-top: 15px;
    border-radius: 5px;
}
.carousel-inn:before{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
}
.narbar .nav-link{
    background: crimson;
    margin-left: 30px;
    border-radius: 5x;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: .5rem  1rem;
    line-height: 2.3;
}
.narbar-nav a{
    font: 15px;
    text-transform: uppercase;
    font-weight: 500;
}

header{
    background-image: linear-gradient(rgba(30,63,56,0.6), rgba(30,63,56,0.6)), url(assets/Campus.jpg);
    height: 100vh;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: center center;

}

.banner-text{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.nav-link{
    font-family: poppins;
    color: #b6bbf4 !important;
}
.banner-text p{
    font-family: poppins;
    color: #fff;
}
.banner-btn a{
    border: 1px solid #fff;
    border-radius: 50x;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px 50px;
    display: inline-block;
    margin-top: 15px;
    color: #fff;
}
.banner-btn a.active{
    background-repeat: #b6bbf4;
    border-color: #b6bbf4;
    color: rgb(249, 249, 249);
}

.navbar-dark .navbar-brand{
    color: #b6bbf4;
    font-size: 40px;
    font-family: cursive;

}
.text-area{
    font-size:  110px;
    font-family: cursive;
    font-weight: bold;

}
.text-area span{
    color:  #b6bbf4;
    opacity: 0;
    transform: translate(0, -100px) rotate(360deg) scale(0);
    animation: animate 5s forwards;
}
.text-area span{
    display: inline-block;
}
.text-area span:nth-last-of-type(2){
    animation-delay: .1s;
}
.text-area span:nth-last-of-type(3){
    animation-delay: .2s;
}
.text-area span:nth-last-of-type(4){
    animation-delay: .3s;
}
.text-area span:nth-last-of-type(5){
    animation-delay: .4s;
}
.text-area span:nth-last-of-type(6){
    animation-delay: .5s;
}
.text-area span:nth-last-of-type(7){
    animation-delay: .6s;
}
.text-area span:nth-last-of-type(8){
    animation-delay: .7s;
}

@keyframes animate{
    30%{
        transform: translate(0, -50px) rotate(180deg) scale(1);
    }
    60%{
        transform: translate(0, 20px) rotate(0deg) scale(0.8);
    }
    100%{
        transform: translate(0) rotate(0deg) scale(1);
        opacity: 1;
    }

}

@media (max-width: 800px){
    .banner-text p{
        display: none;
    }
    .narbar-dark{
        background: rgb(179, 77, 77);
    }
    .text-area{
        font-size: 30px;
    }
}